*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 200vh;
    width: 98vw;
    /* border: 2px solid green;    */
}
h2{
    /* border: 2px solid black; */
    margin-top: 1.7rem;
    margin-left: 29.5rem;
    font-size: 25px;
    font-weight: bold;
}
img{
    /* border: 2px solid pink; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
    /* border: 2px solid red; */
    width: 25rem;
    color: rgba(105, 104, 104, 0.9);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}
#last_para{
    margin-top: 1rem;
}
/* #space{
    height: 0.5rem;
} */
body{
    border-bottom: 3px solid #4C4C4C;
    margin-bottom: 0.7rem;
}